/* HIER BEGINT DE BANNER     */
.flex-container {
  display: flex;
  background-color: #a6d3a0b4;
  align-items: center;
  color: aliceblue;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  height: 30px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-container img {
  width: 300px;
  height: 70px;
  margin-left: -20px;
  margin-top: -20px;
}
/* HIER EINDIGT DE BANNER */
/* BALKJE ONDER DE BANNER */
#balkje {
  background-color: #c3fcc194;
  width: 100%;
  height: 20px;
}
/* BALKJE EIND */
/* MAIN BEGIN */
#main {
  background-color: #96616bcd;
  width: 100%;
  height: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inhoud {
  width: 200px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0);
}
.inhoud img {
  width: 200px;
  height: 300px;
  border: #a6d3a0b4;
  border-radius: 10px;
}
/* MAIN EIND */

/* BEGIN FOOT3R */
#footer {
  width: 100%px;
  height: 300px;
  background-color: #a6d3a0b4;
}

.footerlogo img {
  width: 200px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
/* EIND FOOT3R */

/*  
#443742 donkerpaars
#96616b paars roze
#bbc7a4 soort pastel groen
#515b3a donkergroen
#a6d3a0 lichtgroen */
